@font-face {
    font-family: "Hanken Grotesk", sans-serif;
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Hanken Grotesk", sans-serif;
    src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Hanken Grotesk", sans-serif;
    src: url('./assets/fonts/static/HankenGrotesk-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: italic;  
}
@font-face {
    font-family: "Hanken Grotesk", sans-serif;
    src: url('./assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('woff2');
    font-weight: normal;
    font-style: italic;  
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-red: hsla(0, 100%, 67%, 0.06);
    --orangey-yellow: hsla(39, 100%, 56%, 0.061);
    --green-teal: hsla(166, 100%, 37%, 0.06);
    --cobalt-blue: hsla(234, 85%, 45%, 0.1);

    --light-slate-blue: hsl(252, 100%, 67%); /* BACKGROUND */
    --light-royal-blue: hsl(241, 81%, 54%); /* BACKGROUND */

    --violet-blue: hsla(256, 72%, 46%, 1); /* CIRCLE */
    --persian-blue: hsla(241, 72%, 46%, 0); /* CIRCLE */

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    min-height: 100vh; /* ??? */
    display:grid;
    place-content: center;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 7rem;
    border-radius: 4rem;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
}

/* RESULT CONTAINER */
.result-container {
    background: linear-gradient(to bottom,
    var(--light-slate-blue) 20%, var(--light-royal-blue) 90%);
    border-radius: 4rem;
    padding: 5rem;
    text-align: center;
}

.result-container h1 {
    color: var(--light-lavender);
}

.result-container .result-circle {
    background: linear-gradient(to top,
    var(--light-slate-blue) 20%, var(--light-royal-blue) 90%);
    position: relative;
    display: flex;
    place-content: center;
    border-radius: 50%;
    height: 40%;
    aspect-ratio: 1/1;
    margin: 12% auto;
}

.result-circle .avg-score {
    color: var(--white);
    font-size: 8em;
    position: absolute;
    top: 15%;
}

.result-circle p {
    color: var(--light-lavender);
    position: absolute;
    bottom: 15%;
    font-size: 10rem;
}

.result-container h2 {
    color: var(--white);
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.result-container p {
    color: var(--light-lavender);
    font-size: 2.7rem;
}
/* END RESULT CONTAINER */

/* SUMMARY CONTAINER */
.summary-container {
    padding: 2rem;
}
.summary-container h1 {
    color: var(--dark-gray-blue);
    font-weight: 700;
}
ul.categories {
    list-style: none;
}

ul.categories li {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    border: 1px solid black; /*DELETE LATER*/
    border-radius: 2rem;
    padding: 3rem;
    font-size: 2rem;
    margin-top: 8%;
}

li img {
    margin: auto auto;
    height: 3rem;
    margin-right: 1.5rem;
}

li.reaction {
    margin: auto auto;
    background-color: var(--light-red);
    color: hsl(0, 100%, 67%);
}

li.memory {
    margin: auto auto;
    background-color: var(--orangey-yellow) ;
    color: hsl(39, 100%, 56%);
}

li.verbal {
    margin: auto auto;
    background-color: var(--green-teal) ;
    color: hsl(166, 100%, 37%);
}

li.visual {
    margin: auto auto;
    background-color: var(--cobalt-blue) ;
    color: hsl(234, 85%, 45%);
}

li p.score {
    margin: auto auto;
    grid-column: 4;
    color: var(--dark-gray-blue);
    font-size: 3rem;
    font-weight: 800;
}

li span {
    grid-column: 5;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 0.5rem;
    margin: auto auto;
    color: var(--light-lavender);
}

.summary-container .continue-button {
    margin: 5rem auto;
    width: 85%;
}

.continue-button a {
    border: 1px solid black;
    background-color: var(--dark-gray-blue);
    border-radius: 5rem;
    padding: 2rem 5rem;
    margin: 0 auto;
    color: var(--white);
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.continue-button a:hover {
    background: linear-gradient(to bottom, var(--light-slate-blue) , var(--light-royal-blue));
}
/* END SUMMARY CONTAINER */




@media (max-width: 650px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}
