@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);

    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);

    --radius: 10px;
    --innerRadius: 5px;
    --padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main.flex-center {
    min-height: 100vh;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    padding: var(--padding);
    min-width: 375px;
    max-width: 600px;
}

.card-head {
    background-color: var(--soft-red);
    border-radius: var(--radius);
    position: relative;
    padding: var(--padding);
    color: white;
    margin-bottom: 20px;
}
.card-head img {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
}
.card-head p {
    font-size: 0.9rem;
}
.card-head h2 {
    margin-block: 5px;
    font-weight: 600;
    position: relative;
    z-index: 10;
}

.card-main-content {
    background-color: var(--very-pale-orange);
    border-radius: var(--radius);
    padding: var(--padding);
}
.card-bar-chart {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    min-height: 230px;
}
.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: var(--medium-brown);
    font-size: 0.75rem;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width: 30px;
}
.flex:hover .pop-up-data {
    display: block;
}
.bar {
    height: 50px;
    width: 8vw;
    max-width: 40px;
    background-color: var(--soft-red);
    border-radius: var(--innerRadius);
}
.bar:hover {
    opacity: 75%;
    cursor: pointer;
}
.pop-up-data {
    display: none;
    width: 100%;
    font-size: 0.5rem;
    padding: 2px 1px;
    text-align: center;
    color: white;
    background-color: var(--dark-brown);
    border-radius: var(--innerRadius);
}

.today {
    background-color: var(--cyan);
}

hr {
    border: 2px solid var(--cream);
    color: var(--cream);
    margin-block: 1.7rem;
}

.card-foot {
    display: flex;
    justify-content: space-between;
}
.card-foot p {
    color: var(--medium-brown);
    font-size: 1rem;
}
.percentage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.percentage-container h3 {
    align-self: flex-end;
}

@media (min-width: 450px) {
    .flex {
        width: 45px;
    }
    .pop-up-data {
        padding: 7px 4px;
        font-size: 0.7rem;
    }
}
/* @media (max-width: 370px) {
    #card {
        min-width:fit-content;
    }
    
} */